.Player {
  position: relative;
  width: 55%;
  min-height: 41vw;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3rem;

  @media screen and (max-width: 1000px) {
    width: 100%;
    min-height: 68vw;
  }

  &__Image {
    width: 100%;
    cursor: pointer;
  }

  &__Bottom {
    padding: 0 1rem;

    &__Description {
      &__Date {
        font-weight: bold;
      }

      &__Text {
        margin-top: 0.3rem;
      }
    }

    &__Button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      width: 100%;

      &__Play {
        border: 0;
        background: transparent;
        box-sizing: border-box;
        width: 0;
        height: 1.3rem;

        border-color: transparent transparent transparent #202020;
        transition: 0.2s all ease;
        cursor: pointer;

        // play state
        border-style: solid;
        border-width: 0.65rem 0 0.65rem 1rem;

        &.paused {
          border-style: double;
          border-width: 0px 0 0px 1rem;
        }

        &:hover {
          border-color: transparent transparent transparent #404040;
        }
      }

      &__Gauge {
        width: 100%;
        display: flex;
        align-items: center;

        &__Volume {
          display: none;
          width: 20%;

          button {
            width: 1.1rem;
            box-shadow: none;
            text-decoration: none;
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
          }

          div {
            width: 80%;
            display: flex;
            align-items: center;

            input {
              cursor: pointer;
            }
          }
        }

        &__Progress {
          width: 100%;
          height: 0.2rem;
          margin-right: 0.5rem;
          background-color: rgba(0, 0, 0, 0.4);
          cursor: pointer;
          .sb-soundplayer-progress-inner {
            background-color: black;
            height: 0.2rem;
            border-radius: 1rem;
          }
        }
      }
    }
  }
}

.ReadMore {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.snip1577 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 p {
  margin: 0;
  font-size: 3em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 p {
  margin: 0.7rem 0;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .snip1577 h3,
  .snip1577 p,
  .snip1577 figcaption {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .snip1577:hover img {
    zoom: 1;
    filter: alpha(opacity=40);
    -webkit-opacity: 0.4;
    opacity: 0.4;
  }

  .snip1577:hover:before,
  .snip1577:hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }

  .snip1577:hover:before {
    width: 200px;
  }

  .snip1577:hover:after {
    height: 200px;
  }

  .snip1577:hover h3,
  .snip1577:hover p {
    opacity: 1;
    font-size: 3rem;
  }

  .snip1577:hover h3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .snip1577:hover p {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
    font-size: 1.5rem;
  }
}
