@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/font/UbuntuMono-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/font/UbuntuMono-Bold.ttf');
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

.Spinner {
  position: absolute;
  top: calc(50vh - 2.5rem);
  left: calc(50% - 2.5rem);
}
