.Home {
  position: relative;
  font-family: "Ubuntu";

  &__Presentation {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__Title {
      color: white;
      text-align: center;
      text-decoration: underline;
      font-weight: normal;
    }
  }

  &__Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem 0;

    &__ChapterList {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;

      @media screen and (max-width: 600px) {
        flex-wrap: wrap;
      }

      &__Chapter {
        margin-right: 1rem;
      }

      &__Icon {
        height: 1.6rem;
        width: 1.6rem;
        margin: 0 3rem;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      &__Chapter {
        display: flex;
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.4rem;

        &__Separator {
          margin: 0 1rem;

          @media screen and (max-width: 600px) {
            display: none;
          }
        }
      }
    }
    &__Chapter {
      width: 100%;

      &__Header {
        display: flex;
        align-items: center;

        @media screen and (max-width: 600px) {
          flex-direction: column;
        }

        p {
          font-style: italic;
          margin-left: 2rem;

          @media screen and (max-width: 600px) {
            margin: 0 0 2rem;
          }
        }
      }
    }
  }
  &__FloatingButton {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: #e7e7e7;
    padding: 1.4rem;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;

    @media screen and (max-width: 1000px) {
      padding: 0.4rem;
      bottom: 1rem;
      right: 1rem;
    }

    &:hover {
      background: #d3d2d2;
    }

    &__Icon {
      height: 2rem;
      width: 2rem;

      @media screen and (max-width: 1000px) {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}

.Logout {
  position: absolute !important;
  z-index: 9999;
  top: 0.5rem;
  right: 0.5rem;
  @media screen and (max-width: 600px) {
    height: 2rem !important;
    top: 0.6rem;
  }
  &__Icon {
    margin-right: 0.7rem;
  }
}
