.Home {
  position: relative;
  font-family: "Ubuntu";
  overflow: hidden;

  @media screen and (max-width: 600px) {
    a {
      font-size: 1.2rem !important;
    }
  }

  &__Title {
    position: absolute;
    z-index: 9999;
    font-size: 5rem;
    font-weight: normal;
    color: white;

    @media screen and (max-width: 600px) {
      font-size: 3.5rem !important;
    }
  }

  #wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #featured {
    position: absolute;
    width: calc(100vh * (1000 / 562)); /*  video width / height  */
    height: calc(100vw * (562 / 1000)); /*  video height / width  */
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #featured:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  &__Presentation {
    position: relative;
    #vid {
      width: 100vw; /* Could also use width: 100%; */
      height: 100vh;
      object-fit: cover;
      position: fixed; /* Change position to absolute if you don't want it to take up the whole page */
      left: 0px;
      top: 0px;
      z-index: -1;
    }

    &__Title {
      background: rgba(0, 0, 0, 0);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    &--fixed {
      padding: 140px 0;
    }

    &__CountryList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      height: 80px;
      display: flex;
      align-items: center;
      transition: 0.1s ease;
      width: 100%;

      @media screen and (max-width: 600px) {
        flex-wrap: wrap;
      }

      &--fixed {
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: white;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
        transition: 0.1s ease;
      }

      &__Icon {
        height: 1.6rem;
        width: 1.6rem;
        margin: 0 3rem;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      &__Nav {
        display: flex;
        &__Country {
          display: flex;
          text-decoration: none;
          font-weight: bold;
          color: black;
          font-size: 1.4rem;
          padding: 0 1rem;

          @media screen and (max-width: 600px) {
            padding: 0 0.5rem;
          }
        }
        &__Separator {
          display: flex;
          align-items: center;
          margin: 0;
          font-weight: bold;

          @media screen and (max-width: 600px) {
            display: none;
          }
        }
      }
    }
    &__Country {
      width: 100%;

      &__Header {
        display: flex;
        align-items: center;
        padding-left: 1rem;

        @media screen and (max-width: 600px) {
          flex-direction: column;

          h1 {
            font-size: 1.6rem;
          }
        }

        p {
          font-style: italic;
          margin-left: 2rem;
          text-align: center;

          @media screen and (max-width: 600px) {
            margin: 0 0 2rem;
          }
        }
      }
    }
  }
  &__FloatingButton {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: #e7e7e7;
    padding: 1.4rem;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;

    @media screen and (max-width: 1000px) {
      padding: 0.4rem;
      bottom: 1rem;
      right: 1rem;
    }

    &:hover {
      background: #d3d2d2;
    }

    &__Icon {
      height: 2rem;
      width: 2rem;

      @media screen and (max-width: 1000px) {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}

.Logout {
  position: absolute !important;
  z-index: 9999;
  top: 0.5rem;
  right: 0.5rem;
  @media screen and (max-width: 600px) {
    height: 2rem !important;
    top: 0.6rem;
  }
  &__Icon {
    margin-right: 0.7rem;
  }
}
