.Admin {
  &__Content {
    min-height: 100vh;
    position: relative;
    padding-top: 5rem !important;
    background-color: #eeeeee;
  }
  &__NavBar {
    @media screen and (max-width: 600px) {
      display: none !important;
    }
  }
}
