.HandleArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__Section {
    position: relative;
    margin-left: 1rem;
    &__Chapter {
      &__Header {
        position: relative;
        z-index: 1;
        &__Description {
          margin: 0 1rem 0 !important;
          font-weight: bold !important;
          font-style: italic !important;
        }
        &__AddDescription {
          position: relative;
          z-index: 1000;
          padding: 0 !important;
          min-height: auto !important;
          pointer-events: stroke;
          span {
            font-size: 0.7rem;
            font-style: italic;
            text-transform: capitalize;
          }
        }
      }
      &__Content {
        @media screen and (max-width: 600px) {
          padding: 0 !important;
        }
      }
    }
    &__Icon {
      position: absolute !important;
      padding: 0 !important;
      left: -1.8rem;
      top: 0.65rem;
      svg {
        font-size: 1.5rem;
        color: rgb(225, 0, 80);
      }
    }
    &__Header {
      display: flex;
    }
  }
  &__Chapter {
    display: flex;
    flex-direction: column;
    &__Content {
      @media screen and (max-width: 600px) {
        padding: 0 !important;
      }
    }
    &__AddArticle {
      min-width: 13rem;
      width: 29%;
      margin: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.15s ease background-color;
      border-radius: 0.4rem;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
      &__Icon {
        margin-top: 1.5rem !important;
      }
    }
  }
  &__AddChapter {
    display: flex;
    justify-content: center;
    &__Button {
      margin-top: 1.5rem !important;
    }
  }
}
