.RemoveArticle {
  &__Dialog {
    &__Title {
      text-align: center;
    }
  }
  &__Articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__Article {
      min-width: 14rem;
      width: 30%;
      margin: 1rem;
      &__Card {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
        &__Content {
          &__Title {
            text-align: center;
            margin-bottom: 0 !important;
          }
        }
        &__Image {
          height: 10rem;
          width: 100%;
        }
        &__Action {
          width: 100%;
          &__Button {
            width: 100%;
          }
        }
      }
    }
  }
}
