.UploadImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  padding: 2rem 3rem;
  margin: 2rem 0 1rem;
  &__Title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  &__Upload {
    svg {
      margin-left: 1rem;
    }
  }
}
