.UploadImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  min-width: 13rem !important;

  &__Upload {
    min-width: 13rem !important;
    svg {
      margin-left: 1rem;
    }
  }
}
